@import '../../../styles/variables.scss';

.addCountryWrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 73.2% 18.8%;

  @media (max-width: ($vp-1024 - 1)) {
    grid-template-columns: 69.2% 18.7%;
  }

  @media (max-width: ($vp-768 - 1)) {
    grid-template-columns: 76% 24%;
  }

  span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: 2;
      left: -33px;
      top: 50%;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $color-basic-blue-light;
      border: 1px solid $color-link-water;

      @media (max-width: ($vp-1024 - 1)) {
        left: -39px;
      }

      @media (max-width: ($vp-768 - 1)) {
        display: none;
      }
    }
  }
}

.addButton {
  display: flex;
  background-color: $color-basic-blue-light;
  margin: 0;
  padding: 24px;
  height: 70px;
  color: $color-catalina-blue;
  font-size: 20px;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  width: 100%;
  max-width: 730px;
  justify-content: space-between;
  cursor: pointer;
  text-transform: uppercase;

  @media (max-width: ($vp-1024 - 1)) {
    letter-spacing: 0.07em;
  }

  @media (max-width: ($vp-768 - 1)) {
    padding: 15px 13px 13px 13px;
    font-size: 14px;
    line-height: 18px;
    height: 42px;
    grid-column: 1/-1;

    img {
      width: 14px;
      height: 14px;
    }
  }
}
