@import '../../../styles/variables.scss';

.level {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 95px;
  height: 95px;
  margin: 0 23% 0 auto;

  @media (max-width: ($vp-1024 - 1px)) {
    position: absolute;
    bottom: -159px;
    left: 9.7%;
    margin: 0;
  }

  @media (max-width: ($vp-768 - 1px)) {
    bottom: -124px;
    left: 13%;

    width: 100px;
    height: 100px;
  }

  img {
    position: absolute;
    object-fit: cover;

    width: 95px;
    height: 95px;

    @media (max-width: ($vp-768 - 1px)) {
      width: 100px;
      height: 100px;
    }
  }
}

.number {
  position: relative;
  display: flex;
  margin: 10px 0 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: $color-default-white;

  @media (max-width: ($vp-1024 - 1px)) {
    color: $color-midnight-express;
    font-size: 38px;
    line-height: 38px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    margin: 5px 0 0;
  }
  
  &::after {
    position: absolute;
    content: '';
    width: 53px;
    height: 2px;
    background-color: $color-charcoal;
    opacity: 0.3;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
  }
}

.text {
  display: flex;
  margin: 3px 0 0;

  font-size: 18px;
  line-height: 24px;
  color: $color-default-white;

  @media (max-width: ($vp-1024 - 1px)) {
    color: $color-charcoal;
  }
}