@import '../../../styles/variables.scss';

.travelerCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 20px;
  border-radius: 20px;
  background-color: $color-default-white;
  max-width: 951px;
  width: 100%;
  transition: box-shadow $trans-default;

  &:hover,
  &:focus {
    box-shadow: 0 4px 20px 0 rgba($color-default-black, 0.4);
    cursor: pointer;

    .avatar {
      transform: scale(1.1);
    }
  }

  @media (max-width: ($vp-1024 - 1px)) {
    order: 1;
    row-gap: 30px;
    margin: 0;
    max-width: 100%;
    border-radius: 20px;
    width: 100%;
    grid-template-columns: min-content 275px auto;
    grid-template-rows: auto auto auto;
    column-gap: 33px;
    padding-bottom: 25px;
    row-gap: 0;
  }

  @media (max-width: ($vp-768 - 1px)) {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 0;
    column-gap: 0;
  }
}

.personalData {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 1/2;
}

.avatarWrapper {
  grid-column: 1/2;
  grid-row: 1/-1;
  margin-right: 62px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: block;
  width: 285px;
  height: 285px;

  @media (max-width: ($vp-1440 - 1px)) {
    margin-right: 10px;
    width: 250px;
    height: auto;
  }

  @media (max-width: ($vp-1440 - 1px)) {
    margin-right: 10px;
    width: 200px;
    height: auto;
  }

  @media (max-width: ($vp-1024 - 1px)) {
    margin: 35px 0 0 35px;
    grid-row: 1/2;
    border-radius: 20px;
    width: 190px;
    height: 190px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    margin: 15px 0 0 18px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
}

.avatar {
  display: block;
  transition: transform $trans-default;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.name {
  color: $color-catalina-blue;
  font-weight: 700;
  line-height: 30px;
  font-size: 30px;
  margin: 45px 0 20px 0;
  position: relative;
  text-transform: none;
  transition: opacity $trans-default;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: ($vp-1024 - 1px)) {
    margin-top: 32px;
    max-width: 228px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 20px;
    line-height: 20px;
    max-width: 100px;
    width: 40%;
    margin: -70px 0 43px 104px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: calc(50% - 4px);
    border-radius: 50%;
    background-color: $color-lawn-green;

    @media (max-width: ($vp-768 - 1px)) {
      width: 6px;
      height: 6px;
      top: 0;
    }
  }

  &::before {
    left: -27px;

    @media (max-width: ($vp-1440 - 1px)) {
      left: -15px;
    }

    @media (max-width: ($vp-1024 - 1px)) {
      display: none;
    }
  }

  &::after {
    display: none;

    @media (max-width: ($vp-1024 - 1px)) {
      display: block;
      right: -8px;
    }

    @media (max-width: ($vp-768 - 1px)) {
      display: block;
      right: -45px;
      top: 6px;
    }
  }
}

.offlineName {
  &::before {
    background-color: $color-salmon;
  }

  &::after {
    background-color: $color-salmon;
  }
}

.tags {
  max-width: 226px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  color: $color-default-black;
  text-transform: none;
  margin: 0;
  margin-bottom: 20px;

  @media (max-width: ($vp-1024 - 1px)) {
    margin-bottom: 50px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 15px;
    line-height: 18px;
    margin-left: 26px;
    margin-bottom: 23px;
  }
}

.transportList {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  margin-right: 66px;
  padding: 0;

  @media (max-width: ($vp-1280 - 1px)) {
    margin-right: 20px;
  }

  @media (max-width: ($vp-1024 - 1px)) {
    margin: 0 8px 10px 0;
    flex-direction: column;
  }

  @media (max-width: ($vp-768 - 1px)) {
    flex-direction: row;
    position: relative;

    &::before {
      content: 'транспорт:';
      position: absolute;
      left: 4px;
      top: -32px;
      font-size: 14px;
      line-height: 16px;
      color: $color-charcoal;
      background-color: $color-default-white;
    }
  }
}

.transportItem {
  margin-right: 11px;
  position: relative;

  &:nth-of-type(2) {
    .toolTip {
      left: calc(-50% - 53px);

      @media (max-width: ($vp-1024 - 1px)) {
        left: calc(-50% - 27px);
      }

      @media (max-width: ($vp-768 - 1px)) {
        left: calc(-50% - 20px);
      }
    }
  }

  &:nth-of-type(3) {
    .toolTip {
      left: calc(-50% - 34px);

      @media (max-width: ($vp-1024 - 1px)) {
        left: calc(-50% - 14px);
      }

      @media (max-width: ($vp-768 - 1px)) {
        left: calc(-50% - 5px);
      }
    }
  }

  &:nth-of-type(4) {
    .toolTip {
      left: calc(-50% - 20px);

      @media (max-width: ($vp-1024 - 1px)) {
        left: calc(-50% - 5px);
      }

      @media (max-width: ($vp-768 - 1px)) {
        left: calc(-50% + 5px);
      }
    }
  }

  &:hover {
    .toolTip {
      opacity: 1;
      visibility: visible;
      z-index: 10;
    }
  }

  svg {
    opacity: 15%;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: ($vp-1024 - 1px)) {
    margin-bottom: 7px;
    margin-right: 0;
  }

  @media (max-width: ($vp-768 - 1px)) {
    margin-right: 1px;
    margin-bottom: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $color-basic-blue-light;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 15px;
    }
  }
}

.activeItem {
  svg {
    opacity: 100%;
  }
}

.countriesList {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-row: 1/2;
  margin-top: 49px;
  margin-left: 25px;

  @media (max-width: ($vp-1280 - 1px)) {
    margin-left: 0;
  }

  @media (max-width: ($vp-1024 - 1px)) {
    margin-top: 31px;
    margin-left: 0;
    grid-row: 2/-1;
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    border-top: 1px solid $color-basic-blue-light;
    padding-left: 37px;
    padding-top: 26px;
    position: relative;
    flex-wrap: wrap;
    row-gap: 10px;

    &::before {
      content: 'хочет посетить:';
      width: max-content;
      position: absolute;
      font-size: 15px;
      line-height: 16px;
      font-weight: 400;
      color: $color-charcoal;
      background-color: $color-default-white;
      top: -10px;
      left: 85px;
    }
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding-left: 25px;
    order: 3;
    margin-top: 0;
    margin-bottom: 22px;
    flex-direction: column;
    row-gap: 12px;

    &::before {
      font-size: 14px;
      left: 26px;
      top: -8px;
    }
  }
}

.flag {
  margin-right: 18px;
  width: 35px;
  height: 24px;
  object-fit: cover;

  &:hover ~ .toolTip {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: ($vp-1024 - 1px)) {
    width: 41px;
    margin-right: 10px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    width: 26px;
    height: 16px;
    margin-right: 14px;
  }
}

.countryItem {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  text-transform: uppercase;
  position: relative;

  &:last-of-type {
    margin-bottom: 30px;
  }

  .toolTip {
    left: -53px;
    top: 120%;
    height: min-content;
    align-items: center;
    text-align: center;
    min-height: 100%;
    z-index: 2;
    width: 130px;
  }

  @media (max-width: ($vp-1024 - 1px)) {
    margin-bottom: 0;
    margin-right: 10px;

    .toolTip {
      left: -45px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (max-width: ($vp-768 - 1px)) {
    .toolTip {
      left: -38px;
      top: 130%;
      width: 100px;
    }
  }
}

.travelerInfo {
  display: flex;
  align-items: center;
  margin-left: 25px;
  grid-column: 3/-1;
  grid-row: 2/-1;
  transform: translateY(-35px);

  @media (max-width: ($vp-1024 - 1px)) {
    align-items: flex-start;
    flex-direction: column;
    margin: 38px 35px 0 auto;
    grid-row: 1/3;
    transform: none;
  }

  @media (max-width: ($vp-768 - 1px)) {
    flex-direction: row;
    margin: 0;
    padding: 22px 28px 0 20px;
    border-top: 1px solid $color-basic-blue-light;
    justify-content: space-between;
    order: 4;
  }
}

.followBlock {
  display: flex;
  align-items: center;
  grid-column: 2/3;
  grid-row: 2/-1;
  margin-left: -8px;
  height: min-content;
  margin-top: -36px;

  a {
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    max-width: 150px;
    margin-right: 4px;
    border-radius: 25px;
    background-color: $color-pale-cornflower-blue-2;
    color: $color-midnight-express;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color $trans-default, opacity $trans-default;

    &:hover,
    &:focus {
      background-color: $color-special-blue;
    }

    &:active {
      background-color: $color-special-blue;
      opacity: 0.3;
    }
  }

  @media (max-width: ($vp-1024 - 1px)) {
    grid-row: 2/3;
    margin-left: -3px;
    margin-top: -50px;

    a {
      max-width: 170px;
    }
  }

  @media (max-width: ($vp-768 - 1px)) {
    margin-top: 0;
    order: 5;

    a {
      max-width: 100%;
      font-size: 17px;
      line-height: 17px;
      padding: 11px 15px 12px;
      width: 100%;
      margin: 0 20px;
    }
  }
}

.followButton {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $color-lavendr;
  margin-right: 3px;
  transition: opacity $trans-default;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: ($vp-1024 - 1px)) {
    width: 56px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    width: 30px;
    height: 30px;
    margin-right: 7px;

    svg {
      width: 12px;
    }
  }
}

.followCounter {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: $color-midnight-express;

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 14px;
    line-height: 16px;
  }
}

.level {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: ($vp-1024 - 1px)) {
    margin-top: 0;
  }

  @media (max-width: ($vp-768 - 1px)) {
    position: relative;
    transform: translateY(5px);

    &::before {
      content: 'левел:';
      position: absolute;
      left: -10px;
      top: -37px;
      color: $color-charcoal;
      font-size: 15px;
      line-height: 16px;
      background-color: $color-default-white;
    }
  }
}

.levelCircle {
  position: absolute;
  left: -65%;
  top: -28%;
  stroke: $color-special-blue;

  @media (max-width: ($vp-1024 - 1px)) {
    stroke: $color-neon-carrot;
  }

  @media (max-width: ($vp-768 - 1px)) {
    width: 45px;
    left: 0;
    top: 0;
  }
}

.rotatedSvg {
  transform: rotate(90deg) scaleX(-1);
  transform-origin: center;

  @media (max-width: 767px) {
    transform: rotate(90deg) scaleX(-1) translateX(43%) translateY(12%);
  }
}

.levelCounter {
  color: $color-catalina-blue;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  border-bottom: 1px solid rgba($color-default-black, 0.1);

  @media (max-width: ($vp-768 - 1px)) {
    border: none;
  }
}

.levelText {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $color-default-black;
  opacity: 0.4;
  padding-top: 2px;

  @media (max-width: ($vp-768 - 1px)) {
    display: none;
  }
}

.countryName {
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
  color: $color-catalina-blue;

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 15px;
    line-height: 16px;
  }
}

.toolTip {
  position: absolute;
  visibility: hidden;
  bottom: -200%;
  left: calc(-50% - 50px);
  background-color: $color-midnight-express-2;
  color: $color-default-white;
  padding: 18px 15px;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity $trans-default;

  &::before {
    content: '';
    width: 16px;
    height: 16px;
    background: url('../../../assets/triangle-2.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    left: calc(50% - 16px);
  }

  @media (max-width: ($vp-1024 - 1px)) {
    padding: 10px 10px;
    font-size: 14px;
    line-height: 14px;
    left: calc(-50% - 20px);
    bottom: -150%;
  }

  @media (max-width: ($vp-768 - 1px)) {
    left: calc(-50% - 10px);
    bottom: -140%;
  }
}

.followWrapper {
  display: flex;
  align-items: center;

  @media (max-width: ($vp-768 - 1px)) {
    position: absolute;
    left: 67px;
    top: 55px;
  }
}

.half {
  left: 0px;

  @media (max-width: ($vp-768 - 1px)) {
    width: 45px;
    top: -12px;
    height: 45px;
  }
}

.quarter {
  left: 10px;

  @media (max-width: ($vp-768 - 1px)) {
    width: 25px;
    height: 25px;
    top: -6px;
  }
}
