@import '../../styles/variables.scss';

.StepThree {
  background-color: $color-default-white;
  padding: 100px 158px;
  border-radius: 60px;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: ($vp-1024 - 1)) {
    padding: 48px 42px 52px;
    border-radius: 30px;
    margin: 0;
  }

  @media (max-width: ($vp-768 - 1)) {
    padding: 23px 24px 9px;
    border-radius: 10px;
  }
}

.header {
  display: grid;
  grid-template-columns: 65.9% auto;
  grid-template-rows: auto auto;
  padding: 0 0 50px;
  border-bottom: 1px solid $color-hawkes-blue;

  @media (max-width: ($vp-1024 - 1)) {
    grid-template-columns: 1fr;
    padding: 0 0 8px;
  }

  @media (max-width: ($vp-768 - 1)) {
    border: none;
  }

  h3 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;

    color: $color-catalina-blue;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;

    @media (max-width: ($vp-1024 - 1)) {
      width: 60%;
    }

    @media (max-width: ($vp-768 - 1)) {
      grid-column: 1/-1;
      width: 80%;

      font-size: 20px;
      line-height: 20px;
    }
  }

  p {
    grid-column: 1/2;
    grid-row: 2/-1;
    margin: 28px 0 0 2px;
    max-width: 90%;

    font-size: 20px;
    line-height: 24px;
    color: $color-charcoal;

    @media (max-width: ($vp-1024 - 1)) {
      margin: 34px 0 0 2px;
    }

    @media (max-width: ($vp-768 - 1)) {
      max-width: 100%;
      margin: 15px 0 0 1px;

      font-size: 15px;
      line-height: 22px;
    }
  }

  ul {
    grid-row: 1/-1;
    grid-column: 2 / -1;
    margin-right: 13px;

    li {
      margin-bottom: 24px;

      &::before {
        left: -53px;
      }
    }
  }
}

.textareaWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 80px 0 0;

  @media (max-width: ($vp-1024 - 1)) {
    padding: 37px 0 0;
  }

  @media (max-width: ($vp-768 - 1)) {
    grid-template-columns: 1fr;
    padding: 15px 0 0;
  }

  p {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    font-weight: 700;
    color: $color-catalina-blue;

    @media (max-width: ($vp-768 - 1)) {
      margin: 0 0 0 12px;

      font-size: 18px;
      line-height: 18px;
    }
  }

  .entertainmentComponent {
    width: 100%;
    max-width: 730px;
  }

  textarea {
    width: 100%;
    min-height: 142px;
    max-height: 142px;
    margin: 37px 0 0 0;
    padding: 25px;
    box-sizing: border-box;

    border-radius: 4px;
    border: 1px solid $color-link-water;

    resize: none;

    color: $color-charcoal;
    font-family: inherit;
    font-size: 20px;
    line-height: 20px;

    &::placeholder {
      opacity: 0.3;
    }

    @media (max-width: ($vp-1024 - 1)) {
      padding: 19px;
    }

    @media (max-width: ($vp-825 - 1)) {
      width: 109%;
    }

    @media (max-width: ($vp-768 - 1)) {
      width: 100%;
      min-height: 220px;
      max-height: 220px;
      margin: 16px 0 0 1px;
      padding: 10px 13px;

      font-size: 16px;
      line-height: 22px;
    }
  }

  .errorBorder {
    border-color: $color-special-red;
  }

  .errorMessage {
    box-sizing: border-box;
    height: 56px;
    width: calc(100% - 4px);
    color: #ff0000;
    font-weight: 400;
    position: absolute;
    bottom: 4.5px;
    left: 2px;
    background-color: $color-special-orange;
    border-radius: 0 0 4px 4px;
    padding-top: 20px;
    padding-left: 21px;

    @media (max-width: ($vp-825 - 1)) {
      width: calc(108% - 4px);
    }

    @media (max-width: ($vp-768 - 1)) {
      width: calc(100% - 3px);
      font-size: 16px;
      padding-top: 10px;
    }
  }

  .errorWrapper {
    position: relative;
  }

  .entertainmentItem {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 888px;
    width: 100%;

    @media (max-width: ($vp-768 - 1)) {
      min-height: 281px;
      max-height: 281px;
    }
    .areaFlags {
      position: relative;
      top: -5px;
      grid-row: 1/-1;
      grid-column: 2;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 262px;
      max-height: 262px;
      margin: 0 0 0 85px;

      @media (max-width: ($vp-1024 - 1)) {
        top: -9px;
        margin: 0 33px 0 40px;
      }

      @media (max-width: ($vp-768 - 1)) {
        width: 100%;
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        margin: 0;
        min-height: 281px;
        max-height: 281px;
      }

      img {
        width: 70px;
        height: 47px;
        border-radius: 7px;

        @media (max-width: ($vp-1024 - 1)) {
          position: absolute;
          right: 0;
        }

        @media (max-width: ($vp-768 - 1)) {
          position: absolute;
          right: 0;
          width: 35px;
          height: 24px;
        }
      }

      .decorDesktop {
        position: absolute;
        content: '';
        top: 14px;
        left: -48px;
        width: 14px;
        height: 262px;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: ($vp-1024 - 1)) {
          top: 17px;
          left: 19px;
        }

        @media (max-width: ($vp-768 - 1)) {
          display: none;
        }

        img {
          width: 14px;
          height: 274px;
        }
      }

      .decorMobile {
        position: absolute;
        content: '';
        display: none;

        @media (max-width: ($vp-768 - 1)) {
          display: flex;
          width: 17px;
          justify-content: flex-end;
          top: 7px;
          left: -14px;
        }
      }
    }
  }
}

.pageLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0 0;

  @media (max-width: ($vp-1024 - 1)) {
    margin-top: -6px;
  }

  @media (max-width: ($vp-768 - 1)) {
    flex-direction: column;
    row-gap: 13px;
  }

  .nextStep {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

    padding: 0 33px;
    background-color: $color-pale-cornflower-blue-2;
    height: 81px;
    width: 100%;
    max-width: 286px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 24px;
    color: $color-catalina-blue;
    font-weight: 700;
    box-sizing: border-box;
    font-family: inherit;
    transition: background-color $trans-default;

    @media (max-width: ($vp-768 - 1)) {
      justify-content: center;
      max-width: 230px;
      height: 40px;
      padding: 0 30px;

      background-color: $color-pale-cornflower-blue-2;
      font-size: 17px;
      line-height: 30px;
      text-transform: uppercase;

      span {
        display: none;
      }
    }

    &:hover:enabled,
    &:focus {
      background-color: $color-special-blue;
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}

.errorList {
  margin: 30px 0;
  color: #ff0000;

  @media (max-width: ($vp-768 - 1)) {
    font-size: 16px;
  }
}

.empty {
  color: #ff0000;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;

  @media (max-width: ($vp-768 - 1)) {
    font-size: 20px;
  }
}
