@import '../../styles/variables.scss';

.StepThree {
  background-color: $color-default-white;
  padding: 100px 158px;
  border-radius: 60px;

  @media (max-width: ($vp-1024 - 1)) {
    padding: 48px 42px 52px;
    border-radius: 30px;
  }

  @media (max-width: ($vp-768 - 1)) {
    padding: 23px 24px 9px;
    border-radius: 10px;
  }
}

.header {
  display: grid;
  grid-template-columns: 66.9% auto;
  grid-template-rows: auto auto;
  padding: 0 0 46px;
  border-bottom: 1px solid $color-hawkes-blue;

  @media (max-width: ($vp-1024 - 1)) {
    grid-template-columns: 1fr;
    padding: 0 0 8px;
  }

  @media (max-width: ($vp-768 - 1)) {
    border: none;
  }

  h3 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;

    color: $color-catalina-blue;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;

    @media (max-width: ($vp-1024 - 1)) {
      width: 60%;
    }

    @media (max-width: ($vp-768 - 1)) {
      grid-column: 1/-1;
      width: 80%;

      font-size: 20px;
      line-height: 20px;
    }
  }

  p {
    grid-column: 1/2;
    grid-row: 2/-1;
    margin: 28px 0 0 2px;
    max-width: 90%;

    font-size: 20px;
    line-height: 24px;
    color: $color-charcoal;

    @media (max-width: ($vp-1024 - 1)) {
      margin: 34px 0 0 2px;
    }

    @media (max-width: ($vp-768 - 1)) {
      max-width: 100%;
      margin: 15px 0 0 1px;

      font-size: 15px;
      line-height: 22px;
    }
  }

  ul {
    grid-row: 1/-1;
    grid-column: 2;
  }
}

.textareaWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  // grid-template-columns: 67.55% auto;
  // grid-template-rows: auto auto;
  padding: 80px 0 0;

  @media (max-width: ($vp-1024 - 1)) {
    padding: 37px 0 0;
  }

  @media (max-width: ($vp-768 - 1)) {
    grid-template-columns: 1fr;
    padding: 15px 0 0;
  }

  p {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    font-weight: 700;
    color: $color-catalina-blue;

    @media (max-width: ($vp-768 - 1)) {
      margin: 0 0 0 12px;

      font-size: 18px;
      line-height: 18px;
    }
  }

  .entertainmentItem {
    display: flex;
    width: 100%;
  }

  .entertainmentComponent {
    width: 100%;
  }

  textarea {
    width: 100%;
    min-height: 91px;
    max-height: 91px;
    margin: 37px 0 0 2px;
    padding: 25px;

    border-radius: 4px;
    border: 1px solid $color-link-water;

    resize: none;

    color: $color-charcoal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.015em;
    word-spacing: -0.35em;

    &::placeholder {
      opacity: 0.3;
      letter-spacing: -0.01em;
      word-spacing: normal;
    }

    @media (max-width: ($vp-1024 - 1)) {
      min-height: 103px;
      max-height: 103px;
      padding: 19px;
    }

    @media (max-width: ($vp-825 - 1)) {
      width: 128%;
    }

    @media (max-width: ($vp-768 - 1)) {
      width: 86.5%;
      min-height: 198px;
      max-height: 198px;
      margin: 16px 0 0 1px;
      padding: 10px 13px;

      font-size: 16px;
      line-height: 22px;
    }
  }

  // .textarea1 {
  //   grid-row: 1;
  //   grid-column: 1;
  // }

  // .textarea2 {
  //   grid-row: 2;
  //   grid-column: 1;
  //   margin: 49px 0 0;

  //   @media (max-width: ($vp-768 - 1)) {
  //     margin: 24px 0 0;
  //   }
  // }

  // .textarea3 {
  //   grid-row: 3;
  //   grid-column: 1;
  //   margin: 49px 0 0;

  //   @media (max-width: ($vp-768 - 1)) {
  //     margin: 24px 0 0;
  //   }
  // }

  // .textarea4 {
  //   grid-row: 4;
  //   grid-column: 1;
  //   margin: 49px 0 0;

  //   @media (max-width: ($vp-768 - 1)) {
  //     margin: 24px 0 0;
  //   }
  // }

  .areaFlags {
    position: relative;
    top: -5px;
    grid-row: 1/-1;
    grid-column: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 274px;
    max-height: 274px;
    margin: 0 0 0 139px;

    @media (max-width: ($vp-1024 - 1)) {
      top: -9px;
      margin: 0 0 0 73px;
    }

    @media (max-width: ($vp-768 - 1)) {
      grid-row: unset;
      grid-column: unset;

      position: absolute;
      content: '';
      top: 11px;
      left: 186px;
      margin: 0;
      min-height: 305px;
      max-height: 305px;
    }

    img {
      width: 70px;
      height: 47px;

      @media (max-width: ($vp-768 - 1)) {
        width: 35px;
        height: 24px;
      }
    }

    .decorDesktop {
      position: absolute;
      content: '';
      top: 14px;
      left: -48px;
      width: 14px;
      height: 274px;

      @media (max-width: ($vp-1024 - 1)) {
        top: 17px;
        left: 88px;
      }

      @media (max-width: ($vp-768 - 1)) {
        display: none;
      }

      img {
        width: 14px;
        height: 274px;

        // @media (max-width: ($vp-768 - 1)) {
        //   width: 35px;
        //   height: 24px;
        // }
      }
    }

    .decorMobile {
      position: absolute;
      content: '';
      display: none;

      @media (max-width: ($vp-768 - 1)) {
        display: block;
        left: -199px;
        top: 10px;
      }

      img {
        width: 17px;
        height: 287px;

        // @media (max-width: ($vp-768 - 1)) {
        //   width: 35px;
        //   height: 24px;
        // }
      }
    }
  }
}

.pageLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 55px 0 0;

  @media (max-width: ($vp-1024 - 1)) {
    margin: 43px 0 0;
  }

  @media (max-width: ($vp-768 - 1)) {
    flex-direction: column;
    margin: 20px 0 0;
    row-gap: 13px;
  }

  .nextStep {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

    padding: 0 33px;
    background-color: $color-pale-cornflower-blue-2;
    height: 81px;
    width: 100%;
    max-width: 286px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 24px;
    color: $color-catalina-blue;
    font-weight: 700;
    box-sizing: border-box;

    transition: background-color $trans-default;

    @media (max-width: ($vp-768 - 1)) {
      justify-content: center;
      max-width: 221px;
      height: 40px;
      padding: 0 30px;

      background-color: $color-pale-cornflower-blue-2;
      font-size: 17px;
      line-height: 30px;
      text-transform: uppercase;

      span {
        display: none;
      }
    }

    &:hover:enabled,
    &:focus {
      background-color: $color-special-blue;
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}
