@import '../../../styles/variables.scss';

.tagList {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 7px;

  margin: 0;
  padding: 36px 38px 36px;

  border: 1px solid $color-link-water;
  border-radius: 10px;

  @media (max-width: ($vp-768 - 1px)) {
    row-gap: 0;
    padding: 26px 24px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    color: $color-charcoal;
    
    opacity: 0.6;
    font-size: 20px;
    line-height: 20px;
    text-decoration-line: none;

    transition: opacity $trans-default;

    @media (max-width: ($vp-768 - 1px)) {
      font-size: 16px;
      line-height: 18px;
      letter-spacing: normal;
    }
  }
  
  a:hover,
  a:focus {
    opacity: 0.15;
  }

  a:active {
    opacity: 0.7;
  }
}