.inputRange {
  margin: 36px 0 0;
  // margin: 21px 0 0; для копии
  width: 89%;

  @media (max-width: (1023px)) {
    display: flex;
    width: 38.5%;
    margin: 5px 0 0 32px;
  }

  @media (max-width: (767px)) {
    width: 96%;
    margin: 24px 0 0;
  }
} 
