@import '../../styles/variables';

// header
.header {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 53px;

  z-index: 1000;
  padding-top: 46px;
  background-color: transparent;

  @media (max-width: ($vp-1024 - 1px)) {
    padding-top: 40px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding-top: 0;
  }
}

.headerContainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px 0 60px;

  @media (max-width: ($vp-768 - 1px)) {
    padding: 20px 25px 12px;
  }
}

.headerWrapper {
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 42px;
}

.headerLogo {
  width: 200px;
  height: 50px;

  @media (max-width: ($vp-1024 - 1px)) {
    display: none;
  }
}

.headerLogoMobile {
  display: none;
  @media (max-width: ($vp-1024 - 1px)) {
    display: block;
  }
}

.headerLine {
  width: 60px;
  height: 2px;
  background-color: $color-default-white;

  @media (max-width: ($vp-1024 - 1px)) {
    display: none;
  }
}

//button
.button {
  display: none;
  position: relative;
  width: 25px;
  height: 11px;
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;

  @media (max-width: ($vp-1024 - 1px)) {
    display: block;
  }

  span {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $color-default-white;
    transition: $trans-default;
    left: 0;
    border-radius: 1.5px;
  }

  .buttonLineFirst {
    top: 0;
  }

  .buttonLineSecond {
    bottom: 0;
  }

  &.active {
    .buttonLineFirst {
      transform: rotate(45deg);
      top: 4px;
    }

    .buttonLineSecond {
      transform: rotate(-45deg);
      bottom: 4px;
    }
  }
}

//sticky

.sticky {
  background-color: $color-basic-blue;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding-top: 0;

  transition: $trans-default;
  animation: fadeInDown;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    // transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    // transform: translateY(0);
  }
}
