@import '../../../styles/variables';

// navigate
.nav {
  display: flex;
  column-gap: 20px;

  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navMobile {
  @media (max-width: ($vp-1024 - 1px)) {
    display: none;
  }
}

.navList {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.navListFirst {
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 18px;
  padding-top: 12px;
  padding-left: 12px;
}

.navListSecond {
  flex-wrap: wrap;
  column-gap: 7px;
  row-gap: 7px;
  min-width: 107px;
  max-width: 107px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: $color-jordy-blue;
    transition: $trans-default;
  }

  a:hover,
  a:focus {
    background-color: $color-special-blue;
  }

  a:active {
    opacity: 0.3;
  }
}
