@import './styles/variables.scss';

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

.app {
  font-family: $ff-roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.wrapper {
  background-color: $color-basic-blue-light;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catalog-page {
  display: flex;
  flex-direction: column;
}

.catalog-page-wrapper {
  max-width: 1320px;
  margin: 0 auto;

  @media (max-width: (1439px)) {
    margin: 0 60px;
  }

  @media (max-width: (1279px)) {
    margin: 0 20px;
  }

  @media (max-width: (1023px)) {
    margin: 0 40px;
  }

  @media (max-width: (768px)) {
    margin: 0 25px;
  }
}
